PRISMA_MANAGEMENT_API_SECRET="anothersecret"

PRISMA_SECRET="asecret="
APP_SECRET="onemoresecret"

PRISMA_SERVER="server.com"
PRISMA_PROTOCOL="https"
PRISMA_PORT="443"
PRISMA_SERVICE="graphql"
PRISMA_STAGE=dev

#SERVICE_SIGNATURE="9328huidn3298"
NIXOS_FIRST_TUNNEL_PORT=7000
NIXOS_GITHUB_REPOSITORY="platyplus/remote-host"
GITHUB_USER="plmercereau"
GITHUB_TOKEN="token"
